{{define "markdown-page"}}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TypedGo - Tools to Go type safe</title>

    <meta name="title" content="TypedGo - Tools to Go type safe">
    <meta name="description" content="Tools to Go type safe.">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://typedgo.com">
    <meta property="og:title" content="TypedGo - Tools to Go type safe">
    <meta property="og:description" content="Tools to Go type safe.">
    <meta property="og:image" content="https://typedgo.com/.assets/card-og.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="https://typedgo.com">
    <meta name="twitter:title" content="TypedGo - Tools to Go type safe">
    <meta name="twitter:description" content="Tools to Go type safe.">
    <meta name="twitter:image" content="https://typedgo.com/.assets/card-twitter.png">

    {{with .Stylesheets}}
    {{range .}}
    <link rel="stylesheet" href="{{.}}">{{end}}
    {{end}}

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "url": "https://typedgo.com",
      "name": "TypedGo"
    }
    </script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  </head>

  <body>
    {{.Markdown.Content}}
  </body>

</html>
{{end}}